<navigare></navigare>
<div class="container page-container">
  <antet-pagina content="vm.antetPagina"></antet-pagina>
  <div class="page-component">
    <a href="/#proiect/{{ vm.proiectId }}">Înapoi la proiect</a>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="panou-activitati">
        <div class="panou-activitati-row">
          <h4>Planificate</h4>
          <div ng-repeat="activitate in vm.activitatiPlanificate" class="card border-primary mb-3">
            <div class="card-header">
              <a href="/#proiect/{{ vm.proiectId }}/activitate/{{ activitate._id }}">{{ activitate.cod }}</a>
            </div>
            <div class="card-body text-primary">
              <h5 class="card-title">{{ activitate.numeActivitate }}</h5>
              <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            </div>
          </div>
        </div>
        <div class="panou-activitati-row">
          <h4>În aşteptare</h4>          
          <div ng-repeat="activitate in vm.activitatiInAsteptare" class="card border-primary mb-3">
            <div class="card-header">
              <a href="/#proiect/{{ vm.proiectId }}/activitate/{{ activitate._id }}">{{ activitate.cod }}</a>
            </div>
            <div class="card-body text-primary">
              <h5 class="card-title">{{ activitate.numeActivitate }}</h5>
              <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            </div>
          </div>
        </div>
        <div class="panou-activitati-row">
          <h4>În execuţie</h4>    
          <div ng-repeat="activitate in vm.activitatiInExecutie" class="card border-primary mb-3">
            <div class="card-header">
              <a href="/#proiect/{{ vm.proiectId }}/activitate/{{ activitate._id }}">{{ activitate.cod }}</a>
            </div>
            <div class="card-body text-primary">
              <h5 class="card-title">{{ activitate.numeActivitate }}</h5>
              <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            </div>
          </div>
        </div>
        <div class="panou-activitati-row">
          <h4>În evaluare</h4>    
          <div ng-repeat="activitate in vm.activitatiInEvaluare" class="card border-primary mb-3">
            <div class="card-header">
              <a href="/#proiect/{{ vm.proiectId }}/activitate/{{ activitate._id }}">{{ activitate.cod }}</a>
            </div>
            <div class="card-body text-primary">
              <h5 class="card-title">{{ activitate.numeActivitate }}</h5>
              <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            </div>
          </div>  
        </div>
        <div class="panou-activitati-row">
          <h4>Finalizate</h4>    
          <div ng-repeat="activitate in vm.activitatiFinalizate" class="card border-primary mb-3">
            <div class="card-header">
              <a href="/#proiect/{{ vm.proiectId }}/activitate/{{ activitate._id }}">{{ activitate.cod }}</a>
            </div>
            <div class="card-body text-primary">
              <h5 class="card-title">{{ activitate.numeActivitate }}</h5>
              <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
