<div class="container page-container">
  <antet-pagina content="vm.antetPagina"></antet-pagina>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="page-component">
        <h4>Alege perioada proiectului</h4>
        <form id="perioadaProiect" name="perioadaProiect" ng-submit="vm.onSubmit()">
          <div class="form-group">
            <label for="dataStart">Data Start</label>
            <div class="input-group">
              <input type="text" class="form-control" id="dataStart" placeholder="Data start" uib-datepicker-popup="vm.format" ng-model="vm.dateForm.dataStart" is-open="vm.popup1.opened" datepicker-options="vm.dateOptions" close-text="Close">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.open1()">Alege</button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="dataSfarsit">Data Sfarsit</label>
            <div class="input-group">
              <input type="text" class="form-control" id="dataSfarsit" placeholder="Data sfarsit" uib-datepicker-popup="vm.format" ng-model="vm.dateForm.dataSfarsit" is-open="vm.popup2.opened" datepicker-options="vm.dateOptions" close-text="Close">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.open2()">Alege</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">  
    <div class="col-xs-12 col-md-6">
      <div class="page-component">
        <h4>Alege membrii proiectului</h4>
      </div>
    </divdiv>
  </div>
</div>
