<navigare></navigare>
<div class="container page-container">
  <antet-pagina content="vm.antetPagina"></antet-pagina>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <form id="creareActivitate" name="creareActivitate" ng-submit="vm.onSubmit()">
        <div role="alert" class="alert alert-danger" ng-show="vm.formError">{{ vm.formError }}</div>
        <div class="form-group">
          <label for="numeActivitate">Nume activitate</label>
          <input type="text" class="form-control" name="numeActivitate" placeholder="Numele activitatii" ng-model="vm.dateForm.numeActivitate">
        </div>
        <div class="form-group">
          <label for="responsabil">Responsabil</label>
          <input type="text" name="responsabil" placeholder="Responsabil" ng-model="vm.dateForm.responsabil" uib-typeahead="membru as membru.nume for membru in vm.proiect.membri | filter:$viewValue | limitTo:5" typeahead-show-hint="true" typeahead-no-results="noResults" typeahead-editable="false" class="form-control">                  
          <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> Nu exista rezultate
          </div>
        </div>
        <div class="form-group">
          <label for="etapa">Etapa</label>
          <select class="form-control" name="etapa" ng-model="vm.dateForm.etapa">
            <option ng-repeat="etapa in vm.proiect.etape" value="{{ etapa.id }}">{{ etapa.numeEtapa }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="prioritate">Prioritate</label>
          <select class="form-control" name="prioritate" ng-model="vm.dateForm.prioritate">
            <option ng-repeat="prioritate in vm.prioritate" value="{{ prioritate.id }}">{{prioritate.nume }}</option>
          </select>
        </div>
        <div>
          <date-picker ng-model="vm.dateForm.perioadaEstimata"></date-picker>
        </div>
        <div class="form-group">
          <label for="descriere">Descriere</label>
          <textarea class="form-control" name="descriere" placeholder="Descriere" rows="7" ng-model="vm.dateForm.descriere"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Creaza activitate</button>
      </form>
    </div>
  </div>
</div>
