<div class="container page-container">
  <antet-pagina content="vm.antetPagina"></antet-pagina>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="page-component" ng-show="vm.faraMembri">
        <h3>Vreti sa adaugati acum membrii la proiect? (Puteti adauga si mai tarziu)</h3>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <button class="btn btn-success" ng-click="vm.toggleMembri()">Da</button>
          </div>
          <div class="col-xs-12 col-md-6">
            <a href="/#proiect-start" class="btn btn-danger">Nu</a>
          </div>
        </div>
      </div>
      <form id="alegeMembri" name="alegeMembri" ng-hide="vm.faraMembri" ng-submit="vm.onSubmit()">
        <div role="alert" class="alert alert-danger" ng-show="vm.formError">{{ vm.formError }}</div>
        <div class="form-group">
          <fieldset ng-repeat="membru in vm.membri">
            <label for="alegeMembru">Alege membru</label>
            <select class="form-control" name="alegeMembru" ng-model="vm.dateForm.listaMembrii">
              <option value="1">Membru 1</option>
              <option value="2">Membru 2</option>
            </select>
            <button class="btn btn-danger" ng-click="vm.stergeOptiune()">Anuleaza</button>
          </fieldset>
          <button class="btn btn-success" ng-click="vm.adaugaOptiune()">Adauga membru</button>
        </div>
        <button type="submit" class="btn btn-default">Salveaza</button>
      </form>
    </div>
  </div>
</div>
