<navigare></navigare>
<div class="container page-container">
  <antet-pagina content="vm.antetPagina"></antet-pagina>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="page-component">
        <uib-tabset active="active">
          <uib-tab index="0" heading="Editeaza Perioada">
            <div ng-controller="editeazaPerioadaCtrl as ep">
              <h4>Editeaza perioada proiectului</h4>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h5>Perioada curenta</h5>
                  <div>
                    <span>Data start: </span>
                    <span>{{ ep.dataStartCurenta | date: 'dd MMMM yyyy' }}</span>
                  </div>
                  <div>
                    <span>Data sfarsit: </span>
                    <span>{{ ep.dataSfarsitCurenta | date: 'dd MMMM yyyy' }}</span>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <h5>Perioada noua</h5>
                  <form id="editeazaPerioada" name="editeazaPerioada" ng-submit="ep.perioadaOnSubmit()">
                    <div role="alert" class="alert alert-danger" ng-show="ep.formError">{{ ep.formError }}</div>
                    <date-picker ng-model="ep.dateForm"></date-picker>
                    <button type="submit" class="btn btn-primary">Salveaza date</button>
                  </form>
                  <div class="alert alert-success" ng-show="ep.confirmare">{{ ep.confirmare }}</div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="1" heading="Editeaza Etape" ng-show="vm.setariEtape">
            <div class="page-component">
              <h4>Editeaza etapele proiectului</h4>
              <div ng-controller="editeazaEtapeCtrl as ee">
                <form ng-repeat="etapa in ee.dateForm" id="{{ ee.dateForm[$index].etapaId }}" ng-submit="ee.etapaOnSubmit($index)">
                  <div role="alert" class="alert alert-danger" ng-show="ee.formError[$index]">{{ ee.formError[$index] }}</div>
                  <div class="form-group">
                    <fieldset class="grup-separator">
                      <div class="row">
                        <div class="col-xs-12 col-md-5">
                          <label for="alegeEtapa-{{$index}}">Editeaza nume etapa</label>
                          <input type="text" class="form-control" name="numeEtapa-{{$index}}" placeholder="Nume etapa" ng-model="ee.dateForm[$index].numeEtapa">
                        </div>
                        <div class="col-xs-12 col-md-5">
                          <date-picker-custom ng-model="ee.dateForm[$index]" datepicker-options="ee.dateOptiuni"></date-picker-custom>
                        </div>
                        <div class="col-xs-12 col-md-2">
                          <button type="submit" class="btn btn-primary">Salveaza</button>
                        </div>
                      </div>
                      <div class="alert alert-success" ng-show="ee.confirmare[$index]">{{ ee.confirmare[$index] }}</div>
                    </fieldset>
                  </div>
                </form>
              </div>
            </div>
            <div class="page-component">
              <h4>Adauga etape noi</h4>
              <div ng-controller="alegeEtapeCtrl as ae">
                <form id="adaugaEtape" name="ae.adaugaEtape" ng-submit="ae.onSubmit()">
                  <div role="alert" class="alert alert-danger" ng-show="ae.formError">{{ ae.formError }}</div>
                  <div class="form-group">
                    <fieldset ng-repeat="etapa in ae.dateForm" class="grup-separator">
                      <div class="row">
                        <div class="col-xs-12 col-md-5">
                          <label for="alegeEtapa">Nume etapa</label>
                          <input type="text" class="form-control" name="numeEtapa" placeholder="Nume etapa" ng-model="ae.dateForm[$index].numeEtapa">
                        </div>
                        <div class="col-xs-12 col-md-5">
                          <date-picker-custom ng-model="ae.dateForm[$index]" datepicker-options="ae.dateOptiuni"></date-picker-custom>
                        </div>
                        <div class="col-xs-12 col-md-2">
                          <div class="delete-btn-label">Sterge</div>
                          <button type="button" class="btn btn-danger" ng-click="ae.stergeEtapa($index)">-</button>
                        </div>
                      </div>
                    </fieldset>
                    <button type="button" class="btn btn-success" ng-click="ae.adaugaEtapa()">Adauga etapa</button>
                  </div>
                  <button type="submit" class="btn btn-primary">Salveaza etape</button>
                </form>
                <div class="alert alert-success" ng-show="ae.confirmare">{{ ae.confirmare }}</div>
              </div>
            </div>
          </uib-tab>
          <uib-tab index="2" heading="Editeaza Membri">
            <div class="page-component">
              <h4>Editeaza membrii proiectului</h4>
              <div ng-controller="editeazaMembriCtrl as em">
                <form ng-repeat="membru in em.dateForm" id="{{ em.dateForm[$index].etapaId }}" ng-submit="em.membruOnSubmit($index)">
                  <div role="alert" class="alert alert-danger" ng-show="em.formError[$index]">{{ em.formError[$index] }}</div>
                  <fieldset class="grup-separator">
                    <div class="row">
                      <div class="col-xs-12 col-md-5">
                        <div>
                          <span>Nume membru: </span>
                          <span>{{ em.dateForm[$index].numeIntreg }}</span>
                        </div>
                        <div>
                          <span>Rol curent: </span>
                          <span>{{ em.dateForm[$index].numeRol }}</span>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-5">
                        <div class="form-group">
                          <label for="alegeRol-[$index]">Alege rol nou</label>
                          <select class="form-control" name="alegeRol-[$index]" ng-model="em.dateForm[$index].rol">
                            <option ng-repeat="rol in em.roluri" value="{{ rol.rolId }}">{{ rol.rol }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-2">
                        <button type="submit" class="btn btn-primary">Salveaza</button>
                      </div>
                    </div>
                    <div class="alert alert-success" ng-show="em.confirmare[$index]">{{ em.confirmare[$index] }}</div>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="page-component">
              <h4>Adauga membri noi</h4>
              <div ng-controller="alegeMembriCtrl as am">
                <form id="alegeMembri" name="am.alegeMembri" ng-submit="am.onSubmit()">
                  <div role="alert" class="alert alert-danger" ng-show="am.formError">{{ am.formError }}</div>
                  <fieldset>
                    <div class="row">
                      <div class="col-xs-12 col-md-5">
                        <div class="form-group">
                          <label for="alegeMembru">Alege membru</label>
                          <input type="text" nume="alegeMembru" ng-model="am.dateForm.membru" uib-typeahead="membru as membru.nume for membru in am.membri | filter:$viewValue | limitTo:5" typeahead-show-hint="true" typeahead-no-results="noResults" typeahead-editable="false" class="form-control">                  
                          <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> Nu exista rezultate
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-5">
                        <div class="form-group">
                          <label for="alegeRol">Alege rol</label>
                          <select class="form-control" name="alegeRol" ng-model="am.dateForm.rol">
                            <option ng-repeat="rol in am.roluri" value="{{ rol.rolId }}">{{ rol.rol }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <button type="submit" class="btn btn-primary">Adauga membru</button>
                </form>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>
