<div class="form-group">
  <label for="dataStart">Data Start</label>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Alege data..." ng-model="dateForm.dataStart" uib-datepicker-popup="{{dpvm.format}}" is-open="dpvm.popupStart.deschis" datepicker-options="customDateOptions" current-text="Azi" clear-text="Sterge" close-text="Inchide">
    <span class="input-group-btn">
      <button type="button" class="btn btn-secondary" ng-click="dpvm.deschideStart()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
  </div>
</div>
<div class="form-group">
  <label for="dataSfarsit">Data Sfarsit</label>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Alege data..." ng-model="dateForm.dataSfarsit" uib-datepicker-popup="{{dpvm.format}}" is-open="dpvm.popupSfarsit.deschis" datepicker-options="customDateOptions" current-text="Azi" clear-text="Sterge" close-text="Inchide">
    <span class="input-group-btn">
      <button type="button" class="btn btn-secondary" ng-click="dpvm.deschideSfarsit()"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
  </div>
</div>
