body {
  padding-top: 70px;
}

form {
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
}

fieldset {
  margin-bottom: 1rem;
}

ul {
  padding: 0;
  list-style: none;
}

h3 {
  margin-bottom: 1.5rem;
}

h4 {
  margin-bottom: 1rem;
}
