<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a href="/" class="navbar-brand">Trackit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" ng-hide="navvm.userLogat">
          <a href="/?pagina={{ navvm.caleCurrenta }}" class="nav-link">Conectare</a>
        </li>
        <li class="nav-item" ng-show="navvm.userLogat" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ navvm.userCurrent.numeIntreg }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="" class="dropdown-item" ng-click="navvm.deconectare()">Deconectare</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
