<navigare></navigare>
<div class="container page-container">
  <antet-activitate content="vm.antetActivitate"></antet-activitate>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="page-component">
        <span>Proiect: </span>
        <span>{{ vm.proiect.numeProiect }}</span>
      </div>
      <div class="page-component">
        <span>Etapa: </span>
        <span>{{ vm.etapa.numeEtapa }}</span>
      </div>
      <div class="page-component">
        <span>Responsabil: </span>
        <span>{{ vm.responsabil.numeIntreg }}</span>
      </div>
      <div class="page-component">
          <span>Descriere: </span>
          <div>{{ vm.activitate.descriere }}</div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="page-component">
        <a href="/#editeaza-activitate/{{ vm.activitateId }}">Editeaza actvitatea</a>
      </div>
      <!--
      <div class="page-component">
        <h4>Schimba Status</h4>
        <form id="schimbaStatus" name="schimbaStatus" ng-submit="vm.onSubmit()">
          <div role="alert" class="alert alert-danger" ng-show="vm.formError">{{ vm.formError }}</div>
          <div class="form-group">
            <select class="form-control" name="etapa" ng-model="vm.dateForm.status">
              <option ng-repeat="status in vm.status" value="{{ status.statusId }}">{{ status.numeStatus }}</option>
            </select>
          </div>
        </form>
      </div>-->
    </div>
  </div>
</div>
