.uib-datepicker-popup {
  &.dropdown-menu {
    z-index: 2000;
  }
}

.uib-typeahead-match {
  a {
    padding: 0 1rem;

    &:hover {
      text-decoration: none;
    }
  }
}

.ng-invalid {
  border-color: #e74c3c;
}

.delete-btn-label {
  margin-bottom: .5rem;
}

.grup-etapa {
  border-bottom: 1px solid #ced4da;
}
