.panou-activitati {
  display: flex;

  &-row {
    flex: 1 0 0;
    max-width: 20%;
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

@media (max-width: 991px) {
  .panou-activitati {
    flex-direction: column;

    &-row {
      flex: 0 1 auto;
      max-width: 100%;
    }
  }
}
