.nav-tabs {
  & > li {
    &.active {
      & > a {
        border-color: #ecf0f1 #ecf0f1 transparent;
        background-color: #fff;

        &:focus,
        &:hover {
          border-color: #ecf0f1 #ecf0f1 transparent;
        }
      }
    }
  }
}

.tab-content {
  padding-top: 1.5rem;
}
